Importing necessary libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Importing the dataset

In [2]:
dataset = pd.read_excel('HireArt - Data Analyst Exercise 10.12.17.xlsx')
dataset.head()

  Account manager                 Client Name Date of Contact
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-15
2    Aidan Pouros  Veum, McClure and Schuster      2013-12-07
3     Milan Crona             Armstrong Group      2013-11-02
4    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25

Number of unique clients

In [3]:
len(list(set(dataset['Client Name'])))

35

Number of unique Account Managers

In [4]:
len(list(set(dataset['Account manager'])))

4

Formatting dataset for analysis

In [5]:
dataset['Date of Contact'] =  pd.to_datetime(dataset['Date of Contact'], format='%Y-%m-%d')
dataset=dataset.sort_values(by=['Date of Contact'])
dataset['Date of Contact Year']=[i.year for i in dataset['Date of Contact']]
dataset['Date of Contact Month']=[i.month for i in dataset['Date of Contact']]
dataset.set_index('Date of Contact', inplace=True)
dataset.head()

,Account manager,Client Name,Date of Contact Year,Date of Contact Month
Date of Contact,,,,
2013-10-03,Rigoberto White,"Medhurst, Ankunding and Wolff",2013,10
2013-10-04,Rigoberto White,"Fahey, Wunsch and Bashirian",2013,10
2013-10-04,Chauncey Dach,Donnelly-Champlin,2013,10
2013-10-04,Milan Crona,"Orn, Russel and O'Reilly",2013,10
2013-10-05,Chauncey Dach,Koss Inc,2013,10

Group by Month to check which month has the most number of contacts with the clients

In [6]:
for i in dataset.groupby(["Date of Contact Month"]): 
    print(str(i[0])+": "+ str(len(set(i[1]['Client Name']))))

1: 30
2: 31
3: 29
4: 26
5: 33
6: 34
7: 28
8: 33
9: 33
10: 35
11: 30
12: 32

We see that all clients were clients were contacted during the month of October

But it might be possible that the union of the clients contacted during the years were combined to give us the information so we will need to cross check whether really the clients contacted during the month of October is always maximum for each year.

In [7]:
#Group by Month to check which month has the most number of contacts with the clients
for i in dataset.groupby(["Date of Contact Year","Date of Contact Month"]):
    
    print(str(i[0])+": "+ str(len(set(i[1]['Client Name']))))

(2013, 10): 31
(2013, 11): 12
(2013, 12): 15
(2014, 1): 9
(2014, 2): 11
(2014, 3): 11
(2014, 4): 11
(2014, 5): 12
(2014, 6): 19
(2014, 7): 15
(2014, 8): 17
(2014, 9): 23
(2014, 10): 28
(2014, 11): 15
(2014, 12): 15
(2015, 1): 14
(2015, 2): 15
(2015, 3): 12
(2015, 4): 12
(2015, 5): 16
(2015, 6): 14
(2015, 7): 15
(2015, 8): 15
(2015, 9): 18
(2015, 10): 28
(2015, 11): 10
(2015, 12): 14
(2016, 1): 15
(2016, 2): 14
(2016, 3): 15
(2016, 4): 11
(2016, 5): 14
(2016, 6): 15
(2016, 7): 11
(2016, 8): 14
(2016, 9): 19
(2016, 10): 25
(2016, 11): 12
(2016, 12): 17
(2017, 1): 12
(2017, 2): 13
(2017, 3): 10
(2017, 4): 9
(2017, 5): 13
(2017, 6): 13
(2017, 7): 11
(2017, 8): 13
(2017, 9): 21

We can see for the information above that in the month of October in all the years the maximum number of clients were contacted.

Therefore, we can conclude that the October will be the best month for the product upgrade announcement